@tailwind base;
@tailwind components;
@tailwind utilities;

.prose{
  pre {
    @apply py-10 px-0
  }
  pre code > span {
    @apply px-10
  }
  pre code > span.data-highlighted-line {
    @apply bg-slate-200
  }
  img {
    @apply rounded-16 my-0
  }
  .data-highlighted-line {
    @apply bg-slate-200
  }

  code[data-line-numbers-max-digits='2'] > span[data-line]::before {
    width: 1rem;
  }

  code[data-line-numbers-max-digits='3'] > span[data-line]::before {
    width: 1.5rem;
  }

  code > span[data-line]::before {
    @apply hidden;
  }

  a {
    @apply no-underline !text-blue-500 hover:underline
  }

  :not(pre) > code::before,::after {
    @apply hidden
  }

  :not(pre) > code{
    @apply bg-slate-200 rounded-16 px-8 py-4 break-words
  }
  h1 {
    @apply border-b-1 border-slate-200 border-solid pb-8
  }
  
  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
  
  [data-rehype-pretty-code-figure] {
    & {
      @apply border-1 border-slate-200 rounded-16
    }
    code {
      counter-reset: line;
    }
    [data-rehype-pretty-code-title] {
      @apply text-body3 indent-8 py-8
    }
    pre {
      &{
        @apply border-b-1 border-slate-200 rounded-16
      }
      [data-highlighted-line]{
        @apply bg-slate-900
      }
    }
  }
}
  
.dark .prose{
  * {
    @apply text-white
  }

  :not(pre) > code {
    @apply bg-slate-800
  }
  strong{
    @apply text-teal-400
  }
}

::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
} 

svg{
  fill:'white'
}