@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* 라이트 모드 기본 색상 */
  --white-1: #F5F5F5;
  --white-2: #FFFFFF;
  --black-1: #212121;
  --black-2: #000000;
  --gray-1: #F5F5F9;
  --gray-2: #E0E0E0;
  --gray-3: #BDBDBD;
  
  /* 강조 색상 */
  --primary: #3498db;
  --secondary: #2ecc71;
  --accent: #e74c3c;
  
  /* 기능적 색상 */
  --success: #27ae60;
  --warning: #f39c12;
  --error: #c0392b;
  
  /* 텍스트 색상 */
  --text-primary: #333333;
  --text-secondary: #757575;
}

.dark {
  /* 다크 모드 기본 색상 */
  --white-1: #212121;
  --white-2: #424242;
  --black-1: #F5F5F5;
  --black-2: #FFFFFF;
  --gray-1: #333333;
  --gray-2: #424242;
  --gray-3: #616161;
  
  /* 강조 색상 (다크 모드용으로 조정) */
  --primary: #4FA3D1;
  --secondary: #2ECC71;
  --accent: #E74C3C;
  
  /* 기능적 색상 (다크 모드용으로 조정) */
  --success: #2ECC71;
  --warning: #F39C12;
  --error: #E74C3C;
  
  /* 텍스트 색상 */
  --text-primary: #FFFFFF;
  --text-secondary: #BDBDBD;
}